
body {
    background: url("/col/resources/images/bank_sign_up.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.__containerbackto {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    backdrop-filter: blur(3px);
    display: table;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 1em;
    border: none;
    border-radius: 5000px;
    color: aliceblue;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

div p {
    text-align: center;
    color: aliceblue;
    font-size: xxx-large;
}

button.__gobackbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: aliceblue;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    font-size: xx-large;
}